<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'crud_app/css/bootstrap.css'%}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Function Based View Crud Project</h2>
         {% block content %}

    
         {% endblock content %}

     </div>
   
    <script src="{% static 'crud_app/js/bootstrap.js'%}"></script>
    <script src="{% static 'crud_app/js/propper.js'%}"></script>
    <script src="{% static 'crud_app/js/jquery.js'%}"></script>
</body>
</html>